.top-nav-collapse {
  background-color: #000; }

.menu {
  font-family: "Nunito";
  color: #fff; }
  .menu .menu__items {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    position: relative; }
  .menu .menu__items:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9C00FF;
    visibility: hidden;
    transition: all 0.3s ease-in-out; }
  .menu .menu__items:hover:before {
    visibility: visible;
    width: 100%; }
  .menu .menu__IconWpp {
    color: #fff;
    padding: 15px;
    font-size: 25px; }
  .menu .menu__IconWpp:hover {
    color: #9C00FF;
    text-decoration: none; }

.pie {
  background: #333333;
  width: 100%;
  padding: 5% 5% 10% 5%;
  color: #fff; }
  .pie .pie__Icons {
    color: #fff;
    padding: 15px;
    font-size: 25px; }
  .pie .pie__Text {
    font-family: "Nunito";
    font-size: 1.2rem; }
  .pie .pie__Icons:hover {
    color: #9C00FF;
    text-decoration: none; }
  .pie .pie__Contacto {
    font-family: "Nunito";
    font-size: 1rem;
    color: #9C00FF; }

.home {
  position: relative;
  display: flex;
  align-items: center; }
  .home .home__Img {
    width: 100%;
    height: 700px; }
  .home .home__Text {
    position: absolute;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home .home__Text .home__Text-1 {
      font-family: "Archivo Black";
      font-size: 350%; }
    .home .home__Text .home__Text-2 {
      font-family: "Nunito";
      font-size: 1.1rem; }
  .home .home__IconScroll {
    color: #9C00FF;
    margin-top: 35px; }
  .home .home__IconScroll:hover {
    color: #fff;
    text-decoration: none; }
  .home .scroll .scroll__down {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: tranlateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
  .home .scroll .scroll__mouse {
    width: 1.5rem;
    height: 3rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    margin-bottom: .5rem;
    display: flex; }
    .home .scroll .scroll__mouse .scroll__mouse--item {
      width: 0.5rem;
      height: 0.5rem;
      background-color: #fff;
      display: block;
      border-radius: 50px;
      margin: auto;
      animation: move-wheel 1s linear infinite; }
  .home .scroll .scroll__arrow--item {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
    transform: rotate(45deg);
    animation: arrow-down 0.5s alternate infinite; }

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem); }
  100% {
    opacity: 01;
    transform: translateY(1rem); } }

@keyframes arrow-down {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

.queHacemos {
  padding: 80px 0;
  font-family: "Nunito";
  background-color: #333333; }
  .queHacemos .queHacemos__card {
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }

.clientes {
  background: #fff;
  width: 100%;
  height: 100%;
  padding-top: 20px; }
  .clientes .portfolio__Card {
    max-width: 120px !important;
    height: 100px;
    background: #fff;
    margin: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px; }
    .clientes .portfolio__Card .portfolio__Card-img {
      position: relative;
      border: 10px solid rgba(0, 0, 0, 0.25);
      color: #9C00FF; }
  @media (min-width: 768px) {
    .clientes .portfolio__Card {
      max-width: 110px !important; } }
  @media (max-width: 767px) {
    .clientes .portfolio__Card {
      max-width: 125px !important; } }
  @media (max-width: 375px) {
    .clientes .portfolio__Card {
      max-width: 110px !important; } }

.titulo {
  font-family: "Nunito";
  text-align: center;
  margin-bottom: 20px;
  color: #333333; }

.remotos {
  margin-top: 70px;
  padding-bottom: 50px;
  height: 100%;
  color: #fff;
  background: linear-gradient(45deg, #B95ce4, #4f29cd);
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .remotos .remotos__Text {
    text-transform: uppercase;
    font-family: "Archivo Black";
    font-size: 300%; }
  .remotos .remotos__Parrafo {
    font-family: "Nunito";
    font-size: 1.1rem; }

@media (min-width: 901px) {
  .remotos__Text {
    padding-top: 50px; }
  .remotos__Parrafo {
    width: 650px; } }

@media (max-width: 900px) {
  .navbar:not(.top-nav-collapse) {
    background: #000 !important; }
  .menu__Logo {
    width: 115px;
    height: 29px; } }

@media (max-width: 769px) {
  .menu__Logo {
    width: 115px;
    height: 30px; }
  .home__Text-1 {
    font-size: 300%; }
  .main-clientes {
    display: flex;
    justify-content: center;
    align-items: center; }
  .remotos {
    text-align: center; }
  .pie__Icons {
    font-size: 20px;
    padding: 10px; }
  .pie__Logo {
    width: 124px;
    height: 30px; }
  .pie__Text {
    margin: 15px;
    font-size: 150%; }
  .remotos__Text {
    padding: 30px; }
  .remotos__Parrafo {
    padding: 30px; } }

.body__Servicios {
  background: #000; }

.servicios {
  background: #fff;
  margin-top: 77px;
  padding-bottom: 30px;
  padding: 40px 0px 40px 5px;
  font-family: 'Nunito'; }
  .servicios .card__Servicios .card__Servicios {
    padding: 40px 0; }
  .servicios .card__Servicios .card__Servicios--1 {
    position: relative;
    width: 270px;
    height: 380px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px; }
  .servicios .card__Servicios .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s; }
  .servicios .card__Servicios .card__Servicios--1:hover .box {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #B95ce4, #4f29cd); }
  .servicios .card__Servicios .box__Content {
    padding: 20px;
    text-align: center; }
    .servicios .card__Servicios .box__Content .box__Content--Nro {
      position: absolute;
      top: -10px;
      right: 30px;
      font-size: 8em;
      color: rgba(0, 0, 0, 0.02);
      transition: 0.5s;
      pointer-events: none; }
    .servicios .card__Servicios .box__Content .box__Content--Titulo {
      font-size: 1.8em;
      color: #333333;
      z-index: 1;
      transition: 0.5s; }
  .servicios .card__Servicios .card__Servicios:hover .box__Content--Nro {
    color: rgba(0, 0, 0, 0.05); }
  .servicios .card__Servicios .card__Servicios--1:hover .box__Content--Titulo {
    color: #fff; }
  .servicios .card__Servicios .box__Content--Txt {
    font-size: 1.1em;
    font-weight: 300;
    color: #bbb9b9;
    z-index: 1;
    transition: 0.5s; }
  .servicios .card__Servicios .card__Servicios--1:hover .box__Content--Txt {
    color: #fff; }
  .servicios .card__Servicios .box__Content--Link {
    position: relative;
    padding: 8px 20px;
    background: #9C00FF;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .servicios .card__Servicios .card__Servicios--1:hover .box__Content--Link {
    background: #828282; }

@media (max-width: 769px) {
  .servicios {
    margin-top: 40px; }
    .servicios .servicios__Titulo {
      line-height: 0.8;
      margin-top: 20px; } }

.quienesSomos {
  background: #000; }

.equipo {
  margin-top: 77px;
  padding: 70px 0px 100px 0px;
  background: linear-gradient(45deg, #B95ce4, #4f29cd);
  color: #fff;
  font-family: "Nunito"; }
  .equipo .equipo__Titulo {
    text-align: center;
    font-family: "Archivo Black";
    font-size: 2.2rem; }
  .equipo .equipo__bajada {
    text-align: center; }
  .equipo .equipo__Avatar {
    margin-top: 25px; }
  .equipo .equipo__descripcionPuesto {
    font-size: 1rem; }

@media (max-width: 769px) {
  .equipo {
    margin-top: 40px; } }

.portfolio {
  background: #fff;
  margin-top: 77px;
  height: 100%; }
  .portfolio .portfolio__Titular {
    font-family: "Archivo Black";
    padding-top: 25px; }
  .portfolio .portfolio__Texto {
    font-family: "Nunito"; }

.trabajos {
  padding-bottom: 50px;
  font-family: "Nunito";
  background: #fff; }
  .trabajos .trabajos__Card {
    background-color: #fff;
    border-radius: 40px;
    color: #000;
    margin-top: 25px;
    width: 15rem;
    height: 23rem; }
  .trabajos .trabajos__Button {
    background-color: #9C00FF;
    border-radius: 30px;
    color: #fff; }
  .trabajos .trabajo__Titulo {
    color: #9C00FF; }

@media (max-width: 769px) {
  .portfolio__Titular {
    text-align: center;
    margin-left: 0px; }
  .portfolio__Texto {
    text-align: center;
    margin-left: 0px; }
  .trabajos__Card {
    margin-top: 15px; } }

@media (min-width: 769px) {
  .portfolio__Titular {
    margin-left: 50px; }
  .portfolio__Texto {
    margin-left: 50px; } }

.contacto {
  background-color: black; }

.calendario {
  background: #fff;
  margin-top: 77px;
  height: 100%; }
