// Colores, gradients y tipografías
@import "variables";

.pie {
    background: $gris;
    width: 100%;
    padding: 5% 5% 10% 5%;
    color: $blanco;

    .pie__Icons{
        color: $blanco;
        padding: 15px;
        font-size: 25px;
    }

    .pie__Text{
        font-family: $tipo1;
        font-size: 1.2rem;
    }
    
    .pie__Icons:hover {
        color: $lila;
        text-decoration: none;
    }

    .pie__Contacto{
        font-family: $tipo1;
        font-size: 1rem;
        color: $lila;
    }
}