
// Paleta de colores

$negro: #000;
$blanco: #fff;
$lila: #9C00FF;
$gris-blanco: rgb(187, 185, 185);
$grisclaro: #4F4F4F;
$gris: #333333;

// Gradients
$gradient: linear-gradient(45deg,  #B95ce4, #4f29cd);
$gradient-background: linear-gradient(70deg,  #B95ce4, #4f29cd, #333333) no-repeat center center fixed;

// Tipografías
$tipo1: 'Nunito';
$tipo2: 'Archivo Black';